/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;1,400;1,600;1,700&family=Ole&family=Shizuru&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* for full page bg-img height */
body, html {
  height: 100%;
  background-color: #0A192F;
}

/* for full page bg-img height */
#root, .app-con, .appsub-con{
  height: 100%;
}

/* background img for Landing component */
.bg{
  width: 100%;
  height: 100%;
  background-image: url('../../public/bg_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

