@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  background-color: #0A192F;
}

.bg{
  
  height: 100%;
  background-image: url('../../public/bg_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}