/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&family=Montserrat:wght@300;600&family=Nunito:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* for full page bg-img height */
body, html {
  /* height: 100%; */
  background-color: #0A192F;
  scroll-behavior: smooth;
  /* custom scrollbar colors */
  --scrollbarBG: rgba(0, 0, 0, 0);
  --thumbBG: #495670 ;
}
/* scrollbar width */
body::-webkit-scrollbar {
  width: 3px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


.scroll-hide {
  overflow: hidden;
}

.scroll-down {
  transform: translateY(-100%);
}

.scroll-up {
  transform: translateY(0%);
}


/* for full page bg-img height */
#root{
  height: 100%;
}

/* background img for Landing component */
.bg{
  width: 100%;
  height: 100%;
  background-image: url('../../public/bg_image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.stroke{
  @apply after:content-[''] after:inline-block after:w-80 after:h-px after:relative after:-top-1.5 after:ml-5 after:bg-[#233554] 
}

.fofo{
  /* filter:  saturate(2.2); */
  /* filter: grayscale(2.2); */
  /* filter: "filters.svg#tealwhite"  */
  /* filter: invert(100%) */
  filter: grayscale(100%) brightness(40%) sepia(50%) hue-rotate(90deg) saturate(600%) contrast(0.8);
  /* filter: url(#teal-white); */


}

.stroke2{
  @apply after:content-[''] after:inline-block after:w-14 after:h-px after:relative after:-top-1.5 after:ml-5 after:bg-[#a8b2d1] 
}
/* reduce font scale for small screens */
@media only screen  and (max-width: 767px){
  html {
    font-size:85%;
  }
}